<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Chat</title>
</head>
<body>
  <h1>CHAT MESSENGER</h1>
    <section>
      <span id="user">Bem-vindo! Seu nickname é </span>
      <div>
        <input type="text" id="nickInput" data-testid="nickname-box" placeholder="Altere seu nickname" >
        <button type="submit" id="nickBtn" data-testid="nickname-button">Alterar</button>
      </div>
    </section>
    <section>
      <ul id="usersContainer">Online:</ul>
      <ul id="msgContainer">
        <% renderMessages.forEach((msg) => { %>
          <li data-testid="message"><%= msg %></li>
        <% }) %>
      </ul>
    </section>
    <section>
      <input type="text" id="msgInput" data-testid="message-box">
      <button type="submit" id="msgBtn" data-testid="send-button">Enviar</button>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/webChat.js"></script>
</body>
</html>