<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Project-Web Chat</title>
  <style>
    .root {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    #message-container {
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      height: 90vh;
    }

    #user-box {
      display: flex;
      flex-direction: column;
    }
  </style>
</head>
<body>
  <div class="root">
    <section id="user-box"></section>

    <section>
      <div id="message-container">
        <% oldMessages.forEach(({ message }) => {%>
          <span data-testid="message"><%= message %></span>
        <%})%>
      </div>
      <form id="form-message">
        <input data-testid="message-box" id="input-message" type="text" placeholder="Digite uma nova menssagem aqui" /><button data-testid="send-button">Enviar</button>
      </form>
    </section>

    <section>
      <form id="form-nickname">
        <input data-testid="nickname-box" id="input-nickname" type="text" placeholder="Insira seu nickname" /><button data-testid="nickname-button">Salvar</button>
      </form>
    </section>

  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    let clientNick = '';

    const dom = {
      formMessage: document.querySelector('#form-message'),
      formNickname: document.querySelector('#form-nickname'),
      inputMessage: document.querySelector('#input-message'),
      inputNickname: document.querySelector('#input-nickname'),
      messageContainer: document.querySelector('#message-container'),
      userBox: document.querySelector('#user-box'),
      spanUser: document.querySelector(`#user-${clientNick}`),
    };

    dom.formMessage.addEventListener('submit', (e) => {
      e.preventDefault();

      socket.emit('message', { chatMessage: dom.inputMessage.value, nickname: clientNick });
      dom.inputMessage.value = '';
    });

    dom.formNickname.addEventListener('submit', (e) => {
      e.preventDefault();

      clientNick = dom.inputNickname.value;

      socket.emit('update-nickname', dom.inputNickname.value);
      dom.inputNickname.value = '';
    });

    socket.on('new-user', (nick) => {
      clientNick = nick;

      const spanNickname = document.createElement('span');
      spanNickname.innerText = clientNick;
      spanNickname.setAttribute('data-testid', 'online-user');

      dom.userBox.appendChild(spanNickname);
    });

    socket.on('message', (msg) => {
      const span = document.createElement('span');
      span.innerText = msg;
      span.setAttribute('data-testid', 'message');

      dom.messageContainer.appendChild(span);
    });
  </script>
</body>
</html>