<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO - trybe</title>
    <link rel="stylesheet" href="./css/chat.css" />
  </head>
  <body>
    <!-- <p id="nickname"></p> -->
    <form id="nicknameForm" action="">
      <input
        id="nicknameInput"
        autocomplete="off"
        data-testid="nickname-box"
      /><button data-testid="nickname-button">Change Nickname</button>
    </form>
    <div>
      <h3>Usuários online</h3>
      <ul id="names" class="names"></ul>
    </div>
    <ul id="messages" class="messages">
      <% messages.forEach((message) => { %>
      <li data-testid="message">
        <%= `${message.timestamp} - ${message.nickname}: ${message.message}` %>
      </li>
      <% }); %>
    </ul>
    <form id="chatInput" class="chatInput" action="/" method="POST">
      <input
      id="messageInput"
      autocomplete="off"
      data-testid="message-box"
      /><button data-testid="send-button">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/chat.js"></script>
  </body>
</html>
