<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <title>Document</title>
</head>
<body>
  <h1>Chat</h1>

  <ul id="message"></ul>
  <input id="input-nick-name" data-testid="nickname-box" placeholder="Digite seu Nick Name"/>
  <input id="input-message" data-testid="message-box" placeholder="Digite sua mensagem"/>
  <button id="button" data-testid="send-button">Enviar</button>
  <button data-testid="nickname-button">Salvar Nick Name</button>

  <script>
    const client = window.io();
    const button = document.querySelector('#button');
    const messageCard = document.querySelector('#message');
    
    button.addEventListener('click', () => {
      const inputMessage = document.querySelector('#input-message');
      const inputNickName = document.querySelector('#input-nick-name');

      client.emit('message', {
        chatMessage: inputMessage.value,
        nickname: inputNickName.value
      })
      inputMessage.value = "";
      inputNickName.value = "";
    })
    
    client.on('message', (message) => {
      const li = document.createElement('li');
      li.innerText = `${message.timestamp.toLocaleString()} - ${message.nickname}: ${message.chatMessage}`;
      li.setAttribute('data-testid', 'message');
     return messageCard.appendChild(li);
    });

    client.on('html', (message) => {
      message.forEach(userMessage => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'message');
        li.innerText = `${userMessage.timestamp} - ${userMessage.nickname}: ${userMessage.chatMessage}`;
       return messageCard.appendChild(li);
      })
    })

  </script>
</body>
</html>