<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="http://localhost:3000/socket.io/socket.io.js"></script>
  </head>
  <body>
    <h1>Chat</h1>

    <p id="nickUser" data-testid="online-user"></p>

    <div>
      Escolha seu novo nick:
      <input id="nickText" type="text" data-testid="nickname-box"/>
      <button id="submitNick" data-testid="nickname-button">Add</button>
    </div>

    <ul id="news">
    </ul>

    <div>
      Envie uma mensagem:
      <input id="text" type="text" data-testid="message-box"/>
      <button id="submit" data-testid="send-button">Add</button>
    </div>

    <script>
      const socket = io('http://localhost:3000');

      socket.on('nickId', (socketId) => {
        sessionStorage.setItem('nickname', JSON.stringify(socketId));
        const nickname = JSON.parse(sessionStorage.getItem('nickname'));
        const nick = document.getElementById('nickUser')
        nick.innerText = nickname;
      });

      const btn = document.getElementById('submit');
      btn.addEventListener('click', () => {
        const nickname = JSON.parse(sessionStorage.getItem('nickname'));
        const chatMessage = document.getElementById('text').value;
        socket.emit('message', { nickname, chatMessage });
      });

      socket.on('message', (resp) => {
        const li = document.createElement('li');
        li.setAttribute('data-testid', 'message');
        li.innerText = resp;
        const messagesUl = document.querySelector('#news');
        messagesUl.appendChild(li);
      });

      const btnNick = document.getElementById('submitNick');
      btnNick.addEventListener('click', () => {
        const newNick = document.getElementById('nickText').value;
        sessionStorage.setItem('nickname', JSON.stringify(newNick));
        const nickname = JSON.parse(sessionStorage.getItem('nickname'));
        const nick = document.getElementById('nickUser')
        nick.innerText = nickname;
      });
    </script>
  </body>
</html>
