<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO - trybe</title>
  <link rel="stylesheet" href="./css/chat.css">
</head>

<body>
  <main>
    <div>
      <form id="nickname-input" action="">
        <input id="nickname" data-testid="nickname-box" autocomplete="off" placeholder="nickname" value="" />
        <button type="submit" data-testid="nickname-button">SAVE</button>
      </form>
    </div>

    <section class="usuariosOnline">
      <div>Usuários online</div>
        <div>
          <ul id="online-users-list"></ul>
        </div>
    </section>

    <section class=chat>
      <div>Mensagens</div>
      <ul class="messages"></ul>
    </section>
    <div>    
    <form id="message-input-form" action="">
      <input type="text" data-testid="message-box" id="messageInput" autocomplete="off" placeholder="enter the message" />
      <button type="submit" data-testid="send-button">SEND</button>
    </form>
    </div>
  </main>

      <script src="/socket.io/socket.io.js"></script>
      <script src='./js/chat.js'></script>
  </body>

</html>