<!DOCTYPE html>
<html>
  <head>
    <title>Trybe WebChat</title>
  </head>
  <body>

    <div>
      <ul id="user"></ul>

      <form action="">
        <input data-testid="message-box" type="text" id="message"/>
        <button data-testid="send-button" id="sendBtn">Enviar</button>
      </form> 
    </div>

    <ul id="msgHistory"></ul>

    <div>
      <form action="">
        <input data-testid="nickname-box" type="text" id="nickname">
        <button data-testid="nickname-button" id="alterNick">Trocar Nome</button>
      </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html> 