<html>
  <head>
    <title>Webchat</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header></header>
    <aside id="users__container" class="users__container"></aside>
    <main id="messages__container"></main>
    <footer id="actions__container" class="actions__container">
      <form class="actions__container__form">
        <input id="nickname-box" data-testid="nickname-box" type="text" placeholder="Apelido" />
        <button id="nickname-button" data-testid="nickname-button" type="button">Salvar</button>
        <input id="message-box" data-testid="message-box" type="text" placeholder="Digite sua menssagem..." />
        <button id="send-button" data-testid="send-button" type="button">Enviar</button>
      </form>
    </footer>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/main.js"></script>
  </body>
</html>