* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
		background: #8b8c94;
		font-family: sans-serif;
		font-size: 16px;
		margin: 20px;
}

ul {
	list-style: none;
}

.nickname {
  	color: rgb(42, 62, 240);
  	margin-bottom: 5px;
}

.nickname:after {
		background-color: #272;
		border-radius: 50%;
  	content: ' ,';
		width: 5px solid #272;
}

.nickname-input {
  	border-color: #ccc;
  	border-style: solid;
  	border-width: 1px;
  	font-size: 16px;
  	padding: 5px;
  	text-align: left;
  	width: 75%;
}

.ok-btn , .send-btn {
  	background-color: #272;
  	border: 0;
  	color: #ccc;
  	cursor: pointer;
  	font-size: 17px;
  	padding: 5px 15px;
}
