<!DOCTYPE html>
<html>

<head>
  <title>Web chat</title>
  <style>
    * {
      border: 0;
      padding: 0;
      margin: 0;
      text-decoration: none;
      list-style-type: none;
    }

    body {
      background-color: rgb(48, 48, 48);
    }

    .container1 {
      display: flex;
      justify-content: space-around;
      height: 90vh;
      width: 100vw;
    }

    .container--box {
      align-items: center;
      background-color: rgb(150, 150, 150);
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      height: 95%;
    }

    .container2 {
      background-color: rgb(100, 100, 100);
      height: 10vh;
      width: 100vw;
    }

    .box1 {
      width: 20%;
    }

    .box2 {
      width: 75%;
    }

    .online-users {
      padding-top: 25px;
    }

    #form {
      height: 100%;
      width: 100%;
    }

    #messages {
      padding-top: 25px;
    }

    #input {
      margin: 10px;
      border-radius: 5px;
      height: 65%;
      width: 90%;
    }

    #send-btn {
      background-color: cadetblue;
      border-radius: 5px;
      color: white;
      height: 62%;
      width: 6%;
    }

    #name-input {
      margin-top: 10px;
    }

    #save-btn {
      margin-top: 10px;
      background-color: rgb(255, 136, 81);
      border: 1px solid black;
      color: white;
    }

  </style>
</head>

<body>
  <div class="container1">
    <div class="container--box box1">
      <div>
        <input type="text" id="name-input" data-testid="nickname-box"/>
        <button id="save-btn" data-testid="nickname-button">Salvar</button>
      </div>

      <div>
        <ul id="online-users" class="online-users">
          <h2>Usuários On-line</h2>
          <li id="name-user" data-testid="online-user"></li>
          <% onlineUsers.forEach((user) => {%>
            <li><%=user.user%></li>
          <%})%>
        </ul>
      </div>
    </div>

    <div class="container--box box2">
      <ul id="messages" data-testid="message-box">
        <% messages.forEach((mensagem) => {%>
          <li data-testid="message"><%=mensagem%></li>
        <%})%>
      </ul>
    </div>
  </div>

  <div class="container2">
    <form id="form" action="">
      <input id="input" autocomplete="off" data-testid="message-box"/>
      <button id="send-btn" data-testid="send-button">Send</button>
    </form>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io();

    const nickGenerator = () => {
      let id = '';
      const string = 'abcdefghijklmnopqrstuvwyxz';
      string.split('').forEach(() => {
        if (id.length !== 16) {
          id += string[Math.floor(Math.random() * (string.length - 1))];
        }
      });
      return id;
    };

    let nickname = '';

    const changedNickname = document.getElementById('name-input');
    const onlineList = document.getElementById('online-users');
    const saveButton = document.getElementById('save-btn');
    const nameuser = document.getElementById('name-user');
    const messages = document.getElementById('messages');
    const input = document.getElementById('input');
    const form = document.getElementById('form');
    const testid = 'data-testid';

    form.addEventListener('submit', (event) => {
      const nickname = document.getElementById('name-user').innerText;
      const chatMessage = document.getElementById('input').value;

      event.preventDefault();
      if (input.value) {
        socket.emit('message', { chatMessage, nickname });
        input.value = '';
      }
    });

    saveButton.addEventListener('click', () => {
      const newName = changedNickname.value;
      const nameuser = document.getElementById('name-user');

      nameuser.innerText = newName;
    });

    socket.on('message', ({ userMessage }) => {
      const item = document.createElement('li');
      item.setAttribute(testid, 'message');

      item.textContent = userMessage;
      messages.appendChild(item);
      window.scrollTo(0, document.body.scrollHeight);
    });

    window.onload = () => {

      nameuser.innerHTML = nickGenerator();
    };

  </script>
</body>

</html>
