body {
  margin: 0;
  padding: 0;
}

.users__container {
  background-color: blue;
  height: 100vh;
  position: fixed;
  right: 0;
  width: 16%;
}

.actions__container {
  background-color: rgb(233, 0, 0);
  bottom: 0;
  height: 12%;
  position: fixed;
  width: 100vw;
}

.actions__container__form {
  align-items: center;
  display: flex;
  height: 100%;
}

